!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title Studs 2018
    %link{href: "#{cdn_url}/fonts/stylesheet.css"}/
  %body
    :css
      #wrapper {
        border: 2px solid #072C2E;
        table-layout: fixed;
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      #content {
        font-family: 'Neuzeit S LT', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        padding: 15px;
        float: left;
        color: #072C2E;
      }

      #studs-logo {
        margin: 0;
        padding: 0;
        float: left;
        width: auto;
        height: 96px;
        max-height: 100%;
        line-height: 96px;
      }

      a {
        color: #072C2E;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid #072C2E;
        font-family: 'Neuzeit S LT', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
      }
    %table#wrapper
      %tr
        %td{style: "height: 96px;"}
          %img#studs-logo{alt: "Studs", src: "#{cdn_url}/assets/square-logo.png"}/
        %td
          #content
            %b
              = person["first_name"]
              = person["last_name"]
            %br/
            = person["title"]
            ="at"
            Studs
            %br/
            %a{href: "tel:#{person['phone']}"}
              = person["phone"]
            = "|"
            %a{href: "http://studieresan.se"}
              studieresan.se
